.btn-delete {
    background-color: #ff4d4d; /* Cor vermelha para o botão de apagar */
    color: white;
    padding: 6px 12px;
    font-size: 0.9em;
    border-radius: 4px;
    margin-right: 10px; /* Espaçamento entre os botões */
  }
  
  .btn-secondary {
    background-color: #add8e6; /* Cor azul claro para o botão de retorno */
    color: white;
    padding: 6px 12px;
    font-size: 0.9em;
    border-radius: 4px;
    text-decoration: none; /* Remove o sublinhado */
  }
  
  .pokemon-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  