.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .btn-delete {
    background-color: #dc3545; /* Vermelho */
    padding: 5px 10px; /* Menor */
    font-size: 14px; /* Menor */
  }
  
  .btn-delete:hover {
    background-color: #c82333; /* Vermelho ao passar o mouse */
  }
  
  .btn-return {
    background-color: #007bff; /* Azul claro */
    padding: 3px 8px; /* Menor */
    font-size: 12px; /* Menor */
    margin: 0 10px; /* Espaçamento lateral */
  }
  
  .btn-return:hover {
    background-color: #0056b3; /* Azul claro ao passar o mouse */
  }
  